@charset "utf-8";
/* CSS Document */

#logo
{
padding-left:20px;
width:120px;
height:120px;
float:left;
}
#navbar
{
width:1350px;
padding-left:20px;
float:left;
}
#search
{
margin-left:400px;
}
#Login
{
background-color:#f6f6f6;
}
#Register
{
background-color:#f6f6f6;
}

#slider
{
padding-top:50px;
padding-left:100px;
width:860px;
height:420px;
}

#card1
{
margin-left:50px;
margin-top:20px;
float:left;
}
#card2
{
margin-left:10px;
margin-top:20px;
float:left;
}
#card3
{
margin-left:30px;
margin-top:20px;
float:left;
}
#card4
{
margin-left:30px;
margin-top:20px;
float:left;
}

#contact
{
margin-left:100px;
margin-top:20px;
float:left;
}

#SocialMedia
{
margin-top:20px;
margin-left:950px;
float:left;
}

.line
{
    margin-top:500px;
    width: 1350px;
    height: 47px;
    border-bottom: 1px solid black;
}

#about_site
{
margin-top:10px;
margin-left:50px;
float:left;
}
